@import "../../../scss/variables";
@import "../../../scss/mixins";

.Header {
  align-items: center;
  background-color: #47579f;
  box-shadow: $box-shadow-material;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100vw;

  & > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;

    @include breakpoint-for(md) {
      align-items: center;
      flex-direction: row;
      width: 40%;
    }

    button {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      color: white;
      cursor: pointer;
      font-size: 1rem;
      outline: none;
      padding-bottom: 5px;

      @include breakpoint-for(lg) {
        font-size: 1.2rem;
      }

      &:hover {
        color: #bfbfbf;
      }

      &.active {
        border-color: red;
      }
    }
  }
}
